pkgbase = flutter
	pkgdesc = A new mobile app SDK to help developers and designers build modern mobile apps for iOS and Android.
	pkgver = 1.9.1+hotfix.2
	pkgrel = 2
	url = https://flutter.io
	arch = x86_64
	license = custom
	license = BSD
	license = CCPL
	checkdepends = shellcheck
	makedepends = patch
	makedepends = dart
	makedepends = git
	depends = dart
	depends = git
	optdepends = android-sdk
	optdepends = chromium
	optdepends = dart
	optdepends = intellij-idea-community-edition
	optdepends = clang
	optdepends = make
	conflicts = flutter-beta
	conflicts = flutter-dev
	options = !emptydirs
	source = flutter-1.9.1+hotfix.2.tar.xz::https://storage.googleapis.com/flutter_infra/releases/stable/linux/flutter_linux_v1.9.1+hotfix.2-stable.tar.xz
	source = flutter.patch
	source = flutter-tools-executable.patch
	sha256sums = f82875a865c8dbebd10b7a69ffc4cb19d9c916054f3bbcda5a66395f30477d91
	sha256sums = c7e2b4c4c955541ac79f108499888835a7d947302ef9ef99f13edc68f497a9d8
	sha256sums = 76b92bacee718be0e84c58e6e8a0123c88908dc81d32ad499b453bfcab151ff4

pkgname = flutter

